<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>[{$model['title']}] 列表</h2>
    </div>
	<div class="cf top_nav_list">
		<div class="fl button_list">
		<empty name="model.extend">
			<div class="tools">
<!--                            <a class="btn blue" href="{:U('add?model='.$model['id'])}">新 增</a>
                            <button class="btn ajax-post confirm red" target-form="ids" url="{:U('del?model='.$model['id'])}">删 除</button>-->
			</div>
		</empty>
		</div>
		
	</div>


    <!-- 数据列表 -->
    <div class="data-table">
        <div class="data-table table-striped">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th  style="text-align:center"class="row-selected row-selected">
                            <input class="check-all" type="checkbox">
                        </th>
                        <volist name="list_grids" id="field">
                            <th style="text-align:center">{$field.title}</th>
                        </volist>
                    </tr>
                </thead>

                <!-- 列表 -->
                <tbody>
                    <volist name="list_data" id="data">
                        <tr>
                            <td style="border-right:1px solid #DDDDDD;text-align:center"><input class="ids" type="checkbox" value="{$data['id']},{$data.file_type},{$data['game_id']}" name="ids[]"></td>
                            <volist name="list_grids" id="grid">
                                <td style="border-right:1px solid #DDDDDD;text-align:center">{:get_list_field($data,$grid)}</td>
                            </volist>
                        </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page">
        {$_page|default=''}
    </div>
</block>

