<extend name="Public/base" />

<block name="body">
	<link rel="stylesheet" type="text/css" href="__CSS__/admin_table.css" media="all">
	<div class="main-title cf">
		<h2>[路由]编辑</h2>
	</div>
	<!-- 标签页导航 -->
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li data-tab="tab1" class="current"><a href="javascript:void(0);">基础</a></li></li>
		</ul>
		<div class="tab-content zc_for">
			<!-- 表单 -->
			<form id="form" action="{:U('edit')}" method="post" class="form-horizontal">
				<!-- 基础文档模型 -->
				<div id="tab1" class="tab-pane in tab1">
					<table  border="0" cellspacing="0" cellpadding="0">
						<tbody>
						<tr>
							<td class="l">原始网址：</td>
							<td class="r" colspan='3'>
								<input type="text" class="txt" name="full_url" value="{$data.full_url}" >（完整url， 如：portal/list/index?id=1）
							</td>
						</tr>
						<tr>
							<td class="l">显示网址：</td>
							<td class="r">
								<input type="text" class="txt" name="url" value="{$data.url}">（实际显示的url）
							</td>
						</tr>
						<tr>
							<td class="l">是否启用：</td>
							<td class="r" colspan='3'>
								<select name="status">
									<option value="1" <eq name="data.status" value="1">selected="selected"</eq> >启用{$data.satus}</option>
									<option value="0" <eq name="data.status" value="0">selected="selected"</eq> >禁用</option>
								</select>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="form-item cf">
					<input type='hidden' name="id" value="{$data.id}" >
					<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
					<a class="btn btn-return" href="javascript:history.back(-1);">返 回</a>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		//导航高亮
		highlight_subnav('{:U('Route/lists')}');

		//Think.setValue("module", {$data.module|default = 'media'});

		$('#submit').click(function(){
			$('#form').submit();
		});
	</script>
</block>
