<extend name="Public/base"/>

<block name="header">
    <li class="active"><a href="javascript:;">安装协议</a></li>
    <li><a href="javascript:;">环境检测</a></li>
    <li><a href="javascript:;">创建数据库</a></li>
    <li><a href="javascript:;">安装</a></li>
    <li><a href="javascript:;">完成</a></li>
</block>

<block name="body">
    <h1>溪谷软件vlcms程序 安装协议</h1>
    
    <p>如果您安装、复制或以其它方式使用了本软件产品，则视为您已同意下列条款，并已和徐州梦创信息科技有限公司（以下简称“徐州梦创”）签定了本软件许可协议（以下简称“协议”）如您不同意本协议中的条款，请不要安装软件。如果您通过合法渠道从徐州梦创取得本软件的任何拷贝，则您拥有如下权利</p>

    <p>1、说明  </br> 1)、如果您已经获得授权版，可以获得二次开发和完全使用权利，如果您想商业运营，请联系我们购买授权 <a style="color:#FF0000;"  target="_blank" href="http://www.vlcms.com/price">了解详情</a></br>2)、可加入QQ群进行互动交流<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=7bbf7d5a97a04094a264dfd89260dcce53f1cfb6aaf0ce11f83d290aa2c53257"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="Vlcms-手游平台源码下载" title="Vlcms-手游平台源码下载"></a></br> 3)、在免费版程序的体验过程中遇到的问题以及建议及意见可反馈至<a style="color:#FF0000;"  target="_blank" href="http://bbs.vlcms.cn/">官方论坛</a></p>
    <p>2、版本升级 </br>  根据实际需要，您有权获得授权版升级版本的使用权。但如果徐州梦创另有要求，您须支付适当的版本升级费用。</p>
	<p>3、使用权 </br>  对本软件的使用权范围仅限于您本身。未经徐州梦创书面允许，您无权以转让、许可、出租、租赁、出借、赠与或其它任何方式向任何第三方提供本软件或其复制件或其中任何部分，无论这种提供是否出于商业目的。</p>
    <p>4、声明   </br>  对于本软件，徐州梦创保证不含有任何恶意破坏您的计算机资源（包括文档、程序和其他数据）的功能设置。对于您在使用此软件过程中而产生的利润损失、可用性消失、商业中断，或任何形式的间接、特别、意外或必然的破坏，或任何其他方的索赔，徐州梦创及其代理、销售人概不负责，即使徐州梦创已事先被告知此类事有可能发生。 </p>
    <p>5、知识产权和保密   </br>  本软件的版权和可能涉及的徐州梦创的商标权、专利权、专有技术和其他权利，其所有权归徐州梦创。您对其中出现的权利标识应妥善保留，不能擅自进行删剪或修改。您拥有授权范围内的使用权，但没有转让或许可他人使用的权利。对于涉及徐州梦创技术秘密的内容，您还负有保密的义务。 </p>
    <p>6、其他   </br> 本软件许可协议的未尽事宜，由双方其它协议或另行协商约定。本软件许可协议适用中华人民共和国有关法律。以上资料只用于建立我们的客户服务系统，以使我们能够更好的为您提供技术支持和售后服务。 </p>
	<p>Copyright © 2012-2017. 徐州梦创信息科技有限公司保留所有权利。</p>
</block>

<block name="footer">
    <a class="btn btn-primary btn-large" href="{:U('Install/step1')}">同意安装协议</a>
    <a class="btn btn-large" href="http://www.vlcms.com">不同意</a>
</block>